<div class="main">
  <div class="logo"></div>
  <ul class="menu">
    <li class="menu__item menu__item--active">Cars</li>
    <li class="menu__item">How It Works</li>
    <li class="menu__item">Benefits</li>
    <li class="menu__item">About Us</li>
    <li class="menu__item">Reviews</li>
  </ul>
  <div class="controls">
    <button type="button" class="controls__button">Login</button>
    <input type="text" placeholder="Search vehicles" class="controls__search">
    <fa class="controls__search-icon" name="search"></fa>
  </div>
</div>
