<div class="main">
  <div class="links">
    <div class="links__text">Discover</div>
    <ul class="links-list">
      <li class="links-list__item">How It Works</li>
      <li class="links-list__item">What's included</li>
      <li class="links-list__item">Track Record</li>
      <li class="links-list__item">Customer Review</li>
      <li class="links-list__item">Free Valuation</li>
      <li class="links-list__item">Mortgages</li>
    </ul>
  </div>
  <div class="links">
    <div class="links__text">The Company</div>
    <ul class="links-list">
      <li class="links-list__item">Help Centre</li>
      <li class="links-list__item">Contact Us</li>
      <li class="links-list__item">eMoov Team</li>
      <li class="links-list__item">Local Experts</li>
      <li class="links-list__item">Our History</li>
      <li class="links-list__item">Careers</li>
    </ul>
  </div>
  <div class="links">
    <div class="links__text">Articles & Guides</div>
    <ul class="links-list">
      <li class="links-list__item">News</li>
      <li class="links-list__item">Guides</li>
      <li class="links-list__item">In the Press</li>
      <li class="links-list__item">Property Advice</li>
      <li class="links-list__item">Local Guides</li>
    </ul>
  </div>
  <div class="media">
    <div class="media__social">
      <div class="media__text">Follow Us</div>
      <div class="media__social-list">
        <div class="media__social-item media__social-item--fb">
          <fa name="facebook-f"></fa>
        </div>
        <div class="media__social-item media__social-item--tw">
          <fa name="twitter"></fa>
        </div>
        <div class="media__social-item media__social-item--gp">
          <fa name="google-plus"></fa>
        </div>
        <div class="media__social-item media__social-item--li">
          <fa name="linkedin"></fa>
        </div>
      </div>
    </div>
    <div class="media__app">
      <div class="media__text">Get our application</div>
      <div class="media__app-list">
        <div class="media__app-item media__app-item--gp"></div>
        <div class="media__app-item media__app-item--as"></div>
      </div>
    </div>
  </div>
</div>
<div class="copyright">
  <div>Service Marketplace &copy; 2017</div>
</div>
