.main {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.buy-sell {
  background: linear-gradient(rgba(0,0,0,0.62), rgba(0,0,0,0.62)), url("../../assets/img/buy-sell-bg.jpeg") no-repeat fixed center;
  background-size: cover;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__header {
    display: block;
    width: 800px;
    font-family: Gotham, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 100px;
  }

  &__modal-wrap {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 1140px;
  }

  &__modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 448px;
    height: 410px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: Sansation, sans-serif;

    &--opaque {
      background-color: #000;
    }

    &-prices {
      font-size: 0.9rem;
      margin: 0 auto;
    }

    &-pricetext {
      text-align: right;
      width: 150px;
      padding-right: 5px;
    }

    &-pricevalue {
      text-align: left;
      position: relative;

      &--highlighted {
        border-radius: 6px;
        background-color: #ff4d00;
        color: #fff;
        display: flex;
        align-items: center;

        &::after {
          position: absolute;
          content: "";
          display: block;
          right: -17px;
          width: 13px;
          height: 13px;
          background: url("../../assets/icons/info.svg") no-repeat center;
          background-size: contain;
          cursor: pointer;
        }
      }
    }

    &-row {
      display: flex;
      flex-flow: row nowrap;
    }

    &-header {
      margin-top: 30px;
      font-size: 2rem;
      font-weight: bold;
      padding: 5px;
      border-top: 3px solid transparent;
      display: flex;
      justify-content: center;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 110px;
        height: 3px;
        border-radius: 100px;
        top: -5px
      }

      &--green {
        &::before {
          background-color: #21D084;
        }
      }

      &--blue {
        &::before {
          background-color: #4DA9EB;
        }
      }
    }

    &-description {
      font-size: 1.1rem;
      margin-bottom: 15px;
    }

    &-money {
      color: #FF4D00;
      font-size: 4rem;
      line-height: 4rem;
      font-weight: bold;
      position: relative;
      display: flex;
      justify-content: center;

      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 290px;
        background-color: #171717;
        position: absolute;
        bottom: -5px;
      }
    }

    &-infolist {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      height: 170px;

      &--centered {
        align-items: center;
      }
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 36px;
      border: 1px solid #616161;
      background-color: transparent;
      border-radius: 5px;
      font-weight: bold;
      margin: 10px 0;

      &--normal {
        margin: 0;
        font-weight: normal;
      }

      &--disabled {
        color: #616161;
      }
    }

    &-btn {
      width: 332px;
      height: 60px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;

      &--green {
        background-color: #21D084;
        margin-top: 15px;
      }

      &--blue {
        background-color: #4DA9EB;
        margin-top: 30px;
      }
    }

    &-inputs {
      display: flex;
      flex-flow: row nowrap;
      height: 83px;

      .range {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 180px;

      }
    }

    .switch {
      width: 152px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;

      &__row {
        display: flex;
        flex-flow: row nowrap;
      }

      &__text {
        font-size: .8rem;
        position: relative;
        top: 5px;
        color: #8C8C8C;
        margin: 0 5px 0 0;

        &--selected {
          color: #fff;
        }

        &--right {
          margin: 0 0 0 5px;
        }
      }

    }

    &-controls {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 332px;
      height: 36px;
    }

    &-dropdown {
      background-color: transparent;
      border: 1px solid #616161;
      width: 156px;
      color: #fff;

      &:after {
        color: #4DA9EB;
      }
    }
  }

  .carousel-dots {
    display: flex;
    flex-flow: row nowrap;
    margin: 45px auto 0;

    &__item {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      margin: 0 9px;
      cursor: pointer;

      &--active {
        border: none;
        background-color: #4DA9EB;
      }

    }
  }

  .tab {
    &__list {
      margin-top: 88px;
      display: flex;
      flex-flow: row nowrap;
    }

    &__item {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 60px;
      font-family: Sansation, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #424242;
      background-color: #fff;
      cursor: pointer;

      &--active {
        color: #fff;
        background-color: #4DA9EB;

        &::after {
          content: "";
          position: absolute;
          top: 60px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 15px 0 15px;
          border-color: #4DA9EB transparent transparent transparent;
        }
      }
    }
  }
}

.advantages {
  background-color: #eee;
  font-family: Sansation, sans-serif;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__header {
    font-family: Gotham, sans-serif;
    font-weight: bold;
    margin: 60px 0 0;
    font-size: 2.2rem;
    color: #424242;
  }

  &__description {
    margin-top: 16px;
    position: relative;
    width: 720px;
    color: #70747F;

    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      border-radius: 100px;
      background-color: #4DA9EB;
      position: absolute;
      left: -96px;
      top: 10px;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__item {
    width: 446px;
    height: 216px;
    background-color: #F7F7F7;
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    margin: 15px;
    padding: 40px 24px;
  }

  .advantage {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #70747F;

    &__icon {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;
      background: #4DA9EB no-repeat center;
      border-radius: 50%;
      margin-right: 24px;

      &--car {
      background-image: url("../../assets/icons/car.svg");
      }

      &--badge {
        background-image: url("../../assets/icons/badge.svg");
      }

      &--tyre {
        background-image: url("../../assets/icons/type-expert.svg");
      }

      &--shield {
        background-image: url("../../assets/icons/shield.svg");
      }

      &--hands {
        background-image: url("../../assets/icons/hands.svg");
      }

      &--lamp {
        background-image: url("../../assets/icons/lamp.svg");
      }

      &--folder {
        background-image: url("../../assets/icons/folder.svg");;
      }

      &--file {
        background-image: url("../../assets/icons/file.svg");;
      }

      &--person {
        background-image: url("../../assets/icons/person.svg");;
      }

      &--money {
        background-image: url("../../assets/icons/money.svg");;
      }

      &--gear {
        background-image: url("../../assets/icons/gear.svg");;
      }
    }

    &__header {
      font-size: 1.3rem;
      color: #4DA9EB;
    }
  }
}

.sell-car {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 30px 0;
  background-size: cover;

  &--1 {
    background: linear-gradient(
        rgba(77,169,235, 0.45),
        rgba(77,169,235, 0.45)
    ), url("../../assets/img/bg-1.jpeg") center fixed;
  }

  &--2{
    background: linear-gradient(
        rgba(77,169,235, 0.45),
        rgba(77,169,235, 0.45)
    ), url("../../assets/img/bg-2.jpeg") center fixed;
  }

  &__btn {
    width: 268px;
    height: 75px;
    background-color: #21D084;
    color: #fff;
    font-family: Sansation, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid transparent;

    &:hover {
      border: 2px solid #21D084;
      color: #21D084;
      background-color: transparent;
    }
  }
}

.instruction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: url("../../assets/img/curve.svg") no-repeat center 50px, #eee;
  background-size: contain;

  &__header {
    @extend .advantages__header;
  }

  &__main {
    width: 1440px;
    padding: 80px 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: Sansation, sans-serif;
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 200px;
    margin: 0 25px;
    color: #70747F;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 2.1rem;
      font-weight: bold;
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      border-radius: 50%;
      align-self: center;
      margin-bottom: 38px;

      &--1 {
        background-color: #21D084;
      }

      &--2 {
        background-color: #2dd099;
      }

      &--3 {
        background-color: #34d0b0;
      }

      &--4 {
        background-color: #4cd0c6;
      }

      &--5 {
        background-color: #4DA9EB;
      }
    }

    &-header {
      font-weight: bold;
      font-size: 1.5rem;
      color: #000;
      line-height: 1.6rem;
    }
  }
}

.feedback {
  font-family: Sansation, sans-serif;
  background-color: #eee;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__header {
    @extend .advantages__header;

    &--thin {
      margin: 0 0 30px;
      font-weight: normal;
      font-size: 1.8rem;
    }
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__item {
    width: 315px;
    margin: 0 15px;
    border-radius: 6px;
    padding: 38px 27px 20px;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;

    &-header {
      font-size: 1.2rem;
      line-height: 1.1rem;
      color: #4DA9EB;
    }

    &-text {
      color: #70747F;
      margin-bottom: 30px;
    }

    &-company {
      width: 185px;
      height: 20px;
      background: url("../../assets/img/trustpilot.png") no-repeat center;
      background-size: contain;
    }

    &-rating {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 16px;
    }

    &-star {
      width: 20px;
      height: 20px;
      background: url("../../assets/icons/star.svg") no-repeat center;
      background-size: contain;
      margin-right: 5px;
    }

    &-author {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 35px;
      color: #8F8F8F;
      font-size: 0.8rem;
    }

    &-nickname {
      padding-right: 10px;
    }
    &-date {
      padding-left: 10px;
    }

  }
}

.articles {
  @extend .feedback;

  &__header {
    @extend .advantages__header;
  }

  &__list {
    @extend .feedback__list;
    margin: 50px 0 70px;
  }

  &__item {
    width: 315px;
    margin: 0 15px;

    &-image {
      width: 100%;
      height: 150px;
      border-radius: 6px;
      margin-bottom: 15px;

      background: no-repeat center;
      background-size: cover;
      &--1 {
        background-image: url("../../assets/img/article-1.png");
      }

      &--2 {
        background-image: url("../../assets/img/article-2.png");
      }

      &--3 {
        background-image: url("../../assets/img/article-3.png");
      }
    }

    &-text {
      width: 240px;
      color: #70747F;
    }

    &-btn {
      width: 134px;
      height: 37px;
      background-color: #21D084;
      color: #fff;
      border: 1px solid transparent;
      transition: all .3s;

      &:hover {
        border: 1px solid #21D084;
        color: #21D084;
        background-color: transparent;
      }
    }

    &-author {
      @extend .feedback__item-author;
      margin-top: 15px;
    }

    &-nickname {
      @extend .feedback__item-nickname;
    }
    &-date {
      @extend .feedback__item-date;
    }
  }
}
