<div class="main">
  <div class="buy-sell">
    <div class="container">
      <p class="buy-sell__header">Connecting Private Sellers with Genuine Buyers</p>
      <div class="row">
        <div class="buy-sell__modal-wrap">

          <div class="buy-sell__modal" *ngIf="!carSelected">
            <div class="buy-sell__modal-header buy-sell__modal-header--green">Selling</div>
            <div class="buy-sell__modal-description">Let's see how much you can save</div>
            <div class="buy-sell__modal-infolist buy-sell__modal-infolist--centered">
              <div class="buy-sell__modal-info">RE14ZNO</div>
              <div class="buy-sell__modal-info">64538</div>
            </div>
            <button class="buy-sell__modal-btn buy-sell__modal-btn--green btn"
                    (click)="btnSellCarHandler()">{{btnSellCarText}}
            </button>
          </div>

          <div class="buy-sell__modal buy-sell__modal--opaque" *ngIf="carSelected">
            <div class="buy-sell__modal-header buy-sell__modal-header--green">2012 BMW 2 Series</div>
            <div class="buy-sell__modal-description buy-sell__modal-description">You could save up to:</div>
            <div class="buy-sell__modal-infolist">
              <p class="buy-sell__modal-money">£500</p>
              <table class="buy-sell__modal-prices">
                <tr class="buy-sell__modal-row">
                  <td class="buy-sell__modal-pricetext">Dealer forecourt:</td>
                  <td class="buy-sell__modal-pricevalue">£500</td>
                </tr>
                <tr class="buy-sell__modal-row">
                  <td class="buy-sell__modal-pricetext">Suggested price:</td>
                  <td class="buy-sell__modal-pricevalue buy-sell__modal-pricevalue--highlighted">£8.000</td>

                </tr>
                <tr class="buy-sell__modal-row">
                  <td class="buy-sell__modal-pricetext">Part exchange:</td>
                  <td class="buy-sell__modal-pricevalue">£500</td>
                </tr>
                <tr class="buy-sell__modal-row">
                  <td class="buy-sell__modal-pricetext">Car buying service:</td>
                  <td class="buy-sell__modal-pricevalue">£500</td>
                </tr>
              </table>

            </div>
            <button class="buy-sell__modal-btn buy-sell__modal-btn--green btn"
                    (click)="btnSellCarHandler()">{{btnSellCarText}}
            </button>
          </div>

          <div class="buy-sell__modal">
            <div class="buy-sell__modal-header buy-sell__modal-header--blue">Buying</div>
            <div class="buy-sell__modal-description">Find quality cars at low prices</div>
            <div class="buy-sell__modal-controls">
              <button class="buy-sell__modal-dropdown btn dropdown-toggle" type="button">
                ANY MAKE
              </button>
              <button class="buy-sell__modal-dropdown btn dropdown-toggle" type="button">
                ANY MODEL
              </button>
            </div>
            <div class="buy-sell__modal-inputs">
              <div class="switch">
                <div class="switch__row">
                  <p class="switch__text" [ngClass]="{'switch__text--selected': !switchChecked}">Price</p>
                  <ui-switch
                    color="transparent"
                    [reverse]="true"
                    (change)="onChange($event)"
                  ></ui-switch>
                  <p class="switch__text switch__text--right" [ngClass]="{'switch__text--selected': switchChecked}">Monthly</p>
                </div>
              </div>
              <div class="range">
                <nouislider
                  type="integer"
                  [(ngModel)]="range"
                  [connect]="true"
                  [min]="0"
                  [max]="100"
                  [config]="sliderConfig"
                >
                </nouislider>
              </div>
            </div>
            <div class="buy-sell__modal-controls">
              <div class="buy-sell__modal-info buy-sell__modal-info--normal buy-sell__modal-info--disabled">POSTAL
                CODE
              </div>
              <button class="buy-sell__modal-dropdown btn dropdown-toggle" type="button">
                RADIUS
              </button>
            </div>
            <button class="buy-sell__modal-btn buy-sell__modal-btn--blue btn">Search</button>
          </div>
        </div>

        <div class="carousel-dots">
          <div class="carousel-dots__item carousel-dots__item--active"></div>
          <div class="carousel-dots__item"></div>
          <div class="carousel-dots__item"></div>
        </div>
      </div>
      <div class="row tab">
        <div class="tab__list">
          <div class="tab__item" [ngClass]="{'tab__item--active': !tabBuyer}" (click)="tabBuyer = false;">Seller</div>
          <div class="tab__item" [ngClass]="{'tab__item--active': tabBuyer}" (click)="tabBuyer = true;">Buyer</div>
        </div>
      </div>
    </div>
  </div>

  <div class="advantages">
    <div class="container">
      <p class="advantages__header">Why Servicefy Marketplace is the best choice for you?</p>
      <p class="advantages__description">Our ambition is to offer buyers quality used cars at dealer standards BUT without the high price tags. Buying a used car from our marketplace is a new experience with a great deal of transparency that is unusual in the used car space. Our platform is built for Morden Shoppers, who process data to make an informed choice.</p>
      <div class="advantages__list" *ngIf="!tabBuyer">
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--car"></div>
          <div>
            <p class="advantage__header">Independent Inspection</p>
            <p class="advantage__text">All vehicles are required to undergo an inspection before listing. Giving buyers confidence in your car.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--badge"></div>
          <div>
            <p class="advantage__header">3 Months Warranty</p>
            <p class="advantage__text">To give buyers total peace of mind in buying your car, all vehicles are supplied with 3 months warranty.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--tyre"></div>
          <div>
            <p class="advantage__header">Experts Assistance</p>
            <p class="advantage__text">Our Car Ninjas know their cars inside out and will utilise this expertise coupled with industry leading tools to showcase your car.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--shield"></div>
          <div>
            <p class="advantage__header">Secure Payment</p>
            <p class="advantage__text">Payment processed using escrow methods, giving all parties peace of mind. Funds are released immediately using (FPS).</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--hands"></div>
          <div>
            <p class="advantage__header">Finance Payment Option</p>
            <p class="advantage__text">We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--lamp"></div>
          <div>
            <p class="advantage__header">Achieve Better Margin</p>
            <p class="advantage__text">Dealer standards and benefits BUT without the high price tag. Our price suggestion earns you more than a typical private seller.</p>
          </div>
        </div>
      </div>
      <div class="advantages__list" *ngIf="tabBuyer">
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--car"></div>
          <div>
            <p class="advantage__header">Inspected Vehicles ONLY</p>
            <p class="advantage__text">You have nothing to worry about- all vehicles undergo multipoint inspection checks. You can put your trust in your new car.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--folder"></div>
          <div>
            <p class="advantage__header">Background History Check</p>
            <p class="advantage__text">We carry out comprehensive background history check on all vehicles- you're in good hands. All Checks carry our £40,000 data guarantee.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--gear"></div>
          <div>
            <p class="advantage__header">MOT Assured</p>
            <p class="advantage__text">No one likes spending money on newly purchased cars. That's why all our vehicle come with minimum six months MOT.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--file"></div>
          <div>
            <p class="advantage__header">Reliable Vehicle Grading</p>
            <p class="advantage__text">Long are the days of taking a mechanic friend along to view a car. Our grading algorithm generates a condition report that you view online.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--badge"></div>
          <div>
            <p class="advantage__header">3 Months Warranty</p>
            <p class="advantage__text">To give buyers total peace of mind in buying your car, all vehicles are supplied with 3 months warranty.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--money"></div>
          <div>
            <p class="advantage__header">Save Money</p>
            <p class="advantage__text">Taking the middleman (car dealer) out of the equation and connecting you directly to the seller prevents you paying car dealers overheads.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--hands"></div>
          <div>
            <p class="advantage__header">Finance Payment Option</p>
            <p class="advantage__text">We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.</p>
          </div>
        </div>
        <div class="advantages__item advantage">
          <div class="advantage__icon advantage__icon--person"></div>
          <div>
            <p class="advantage__header">No Quibble, No Squabble Purchase</p>
            <p class="advantage__text">Buying a car should be an enjoyable experience. Sadly, it doesn't always turn out that way. Now you can avoid provocative salespeople.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sell-car sell-car--1">
    <button class="sell-car__btn btn">Sell My Car</button>
  </div>

  <div class="instruction">
    <p class="instruction__header">How It Works?</p>
    <div class="instruction__main">
      <div class="instruction__item">
        <div class="instruction__item-icon instruction__item-icon--1">1</div>
        <p class="instruction__item-header">List Your Car</p>
        <p class="instruction__item-text">Create your advert in less than 60 seconds! Our platform does all the heavy lifting for you by populating the features of your car and suggest an ideal optimum price point to sell. Then add photos</p>
      </div>

      <div class="instruction__item">
        <div class="instruction__item-icon instruction__item-icon--2">2</div>
        <p class="instruction__item-header">Multipoint Inspection & HPI Checks</p>
        <p class="instruction__item-text">An engineer will visit you to conduct the multi-point inspection on your vehicle and carry out a full background history check. You will receive both reports once done</p>
      </div>

      <div class="instruction__item">
        <div class="instruction__item-icon instruction__item-icon--3">3</div>
        <p class="instruction__item-header">Promote Your Car</p>
        <p class="instruction__item-text">Your car will be advertised online to targetted audience, and you will also benefit from our TV, Radio and Print campaigns. It will also be broadcasted to the Servicefy Community</p>
      </div>

      <div class="instruction__item">
        <div class="instruction__item-icon instruction__item-icon--4">4</div>
        <p class="instruction__item-header">Accept Viewings</p>
        <p class="instruction__item-text">You are in control. You decide when viewings should be held. You can manage your availability for viewings and confirm viewing requests instantly with few clicks</p>
      </div>


      <div class="instruction__item">
        <div class="instruction__item-icon instruction__item-icon--5">5</div>
        <p class="instruction__item-header">Close Deal</p>
        <p class="instruction__item-text">Once we get confirmation of ownership exchange from you and the buyer, we will transfer your money into your account immediately. That's it! Done!</p>
      </div>

    </div>
  </div>

  <div class="sell-car sell-car--2">
    <button class="sell-car__btn btn">Sell My Car</button>
  </div>

  <div class="feedback">
    <div class="container">
      <p class="feedback__header">Why our sellers love us so much!</p>
      <p class="feedback__header feedback__header--thin">The average Servicefy Marketplace customer…</p>
      <div class="feedback__list">
        <div class="feedback__item">
          <p class="feedback__item-header">An excelent, pleasent and exceptional value for money company</p>
          <p class="feedback__item-text">We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.</p>
          <div>
            <div class="feedback__item-company"></div>
            <div class="feedback__item-rating">
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
            </div>
            <div class="feedback__item-author">
              <span class="feedback__item-nickname">by Jack</span>|<span class="feedback__item-date">April 2017</span>
            </div>
          </div>
        </div>
        <div class="feedback__item">
          <p class="feedback__item-header">An excelent, pleasent and exceptional value for money company</p>
          <p class="feedback__item-text">We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.</p>
          <div>
            <div class="feedback__item-company"></div>
            <div class="feedback__item-rating">
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
            </div>
            <div class="feedback__item-author">
              <span class="feedback__item-nickname">by Jack</span>|<span class="feedback__item-date">April 2017</span>
            </div>
          </div>
        </div>
        <div class="feedback__item">
          <p class="feedback__item-header">An excelent, pleasent and exceptional value for money company</p>
          <p class="feedback__item-text">We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.</p>
          <div>
            <div class="feedback__item-company"></div>
            <div class="feedback__item-rating">
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
              <div class="feedback__item-star"></div>
            </div>
            <div class="feedback__item-author">
              <span class="feedback__item-nickname">by Jack</span>|<span class="feedback__item-date">April 2017</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="articles">
    <div class="container">
      <p class="articles__header">News & Useful Guides</p>
      <div class="articles__list">
        <div class="articles__item">
          <div class="articles__item-image articles__item-image--1"></div>
          <p class="articles__item-text">
            We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.
          </p>
          <button class="btn articles__item-btn">Read more</button>
          <div class="articles__item-author">
            <span class="articles__item-nickname">by Jack</span>|<span class="articles__item-date">April 2017</span>
          </div>
        </div>
        <div class="articles__item">
          <div class="articles__item-image articles__item-image--2"></div>
          <p class="articles__item-text">
            We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.
          </p>
          <button class="btn articles__item-btn">Read more</button>
          <div class="articles__item-author">
            <span class="articles__item-nickname">by Jack</span>|<span class="articles__item-date">April 2017</span>
          </div>
        </div>
        <div class="articles__item">
          <div class="articles__item-image articles__item-image--3"></div>
          <p class="articles__item-text">
            We provide finance for peer-to-peer lending at a low competitive rate. Helping you to attract wider audience to purchase car.
          </p>
          <button class="btn articles__item-btn">Read more</button>
          <div class="articles__item-author">
            <span class="articles__item-nickname">by Jack</span>|<span class="articles__item-date">April 2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
