// Height of the slider's handle
/// @type String
$control-height: 10px;
/// Width of the slider's handle
/// @type String
$control-width: 10px;
/// Color of the slider's handle
/// @type Color
$control-color: #fff;
/// Size of the slider handle's text
/// @type String
$control-font-size: 12px;
/// Font Weight of the slider handle's text
/// @type String
$control-font-weight: bold;
/// Color of the slider's "fill" when connected
/// @type Color
$fill-color: deepskyblue;
/// Height of the slider's gutter
/// @type String
$gutter-height: 6px;


.main {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.buy-sell {
  background: linear-gradient(rgba(0,0,0,0.62), rgba(0,0,0,0.62)), url("../../assets/img/buy-sell-bg.jpeg") no-repeat fixed center;
  background-size: cover;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__header {
    display: block;
    width: 800px;
    font-family: Gotham, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 100px;
  }

  &__modal-wrap {
    margin-top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 1140px;
  }

  &__modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 448px;
    height: 410px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: Sansation, sans-serif;

    &-header {
      margin-top: 30px;
      font-size: 2rem;
      font-weight: bold;
      padding: 5px;
      border-top: 3px solid transparent;

      &--green {
        border-color: #21D084;
      }

      &--blue {
        border-color: #4DA9EB;
      }
    }

    &-description {
      font-size: 1.1rem;
      margin-bottom: 15px;
    }

    &-infolist {
      margin-top: 35px;
    }

    &-info {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 36px;
      border: 1px solid #616161;
      background-color: transparent;
      border-radius: 5px;
      font-weight: bold;
      margin: 10px 0;

      &--normal {
        margin: 0;
        font-weight: normal;
      }

      &--disabled {
        color: #616161;
      }
    }

    &-btn {
      width: 332px;
      height: 60px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;

      &--green {
        background-color: #21D084;
        margin-top: 50px;
      }

      &--blue {
        background-color: #4DA9EB;
        margin-top: 32px;
      }
    }

    &-inputs {
      display: flex;
      flex-flow: row nowrap;
      height: 83px;
      width: 332px;

      .range {
        width: 156px;

        .noUi-connect {
          background-color: black;
        }


        //.noUi-background {
        //  height: $gutter-height;
        //}
        //
        //.noUi-base {
        //  .noUi-connect {
        //    background-color: $fill-color;
        //  }
        //  /// noUiSlider Handle
        //  .noUi-handle {
        //    background-color: $control-color;
        //    border: 1px solid black;
        //    border-radius: 50%;
        //    box-shadow: none;
        //    color: #FFFFFF;
        //    display: table;
        //    font-size: 15px;
        //    height: $control-height;
        //    left: 0;
        //    margin-top: -($control-height/2) + $gutter-height/2 - 1;
        //    padding: 0;
        //    position: absolute;
        //    text-align: center;
        //    top: 0;
        //    width: $control-width;
        //    z-index: 2;
        //
        //    &:before,
        //    &:after {
        //      display: none;
        //    }
        //
        //    .noUi-horizontal & {
        //      cursor: ew-resize;
        //    }
        //
        //    &:hover {
        //      background-color: lighten($control-color, 10%);
        //    }
        //
        //    &.noUi-active {
        //      background-color: darken($control-color, 10%);
        //      z-index: 3;
        //    }
        //
        //
        //  }
        //}


      }
    }

    .switch {
      font-size: .75rem;
      width: 156px;
      margin-top: 16px;

      &__label {

        &--right {
          margin-left: 10px;
        }

      }

      &__checkbox {
        visibility: hidden;
      }

      &__lever {
        display: inline-block;
        position: relative;
        width: 34px;
        height: 6px;
        background-color: transparent;
        border: 1px solid #616161;
        border-radius: 15px;
        vertical-align: middle;

        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          width: 15px;
          height: 15px;
          background-color: #fff;
          border-radius: 50%;
          left: -5px;
          top: -5px;
          transition: left .3s ease,background .3s ease;
        }
      }

    }

    &-controls {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 332px;
      height: 36px;
    }

    &-dropdown {
      background-color: transparent;
      border: 1px solid #616161;
      width: 156px;
      color: #fff;

      &:after {
        color: #4DA9EB;
      }
    }
  }

  .carousel-dots {
    margin-top: 45px;
    display: flex;
    flex-flow: row nowrap;

    &__item {
      width: 12px;
      height: 12px;
      border: 2px solid #fff;
      border-radius: 50%;
      background-color: transparent;
      margin: 0 9px;
      cursor: pointer;

      &--active {
        border: none;
        background-color: #4DA9EB;
      }

    }
  }

  .tab {
    &__list {
      margin-top: 88px;
      display: flex;
      flex-flow: row nowrap;
    }

    &__item {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 60px;
      font-family: Sansation, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      color: #424242;
      background-color: #fff;

      &--active {
        color: #fff;
        background-color: #4DA9EB;

        &::after {
          content: "";
          position: absolute;
          top: 60px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 15px 0 15px;
          border-color: #4DA9EB transparent transparent transparent;
        }
      }
    }
  }
}

.advantages {
  background-color: #eee;
  font-family: Sansation, sans-serif;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__header {
    font-family: Gotham, sans-serif;
    font-weight: bold;
    margin-top: 60px;
    font-size: 2.2rem;
    color: #424242;
  }

  &__description {
    position: relative;
    width: 720px;
    color: #70747F;

    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      border-radius: 100px;
      background-color: #4DA9EB;
      position: absolute;
      left: -96px;
      top: 10px;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__item {
    width: 446px;
    height: 216px;
    background-color: #F7F7F7;
    border-radius: 6px;
    border: 1px solid #E8E8E8;
    margin: 15px;
    padding: 40px 24px;
  }

  .advantage {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #70747F;

    &__icon {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;
      background: #4DA9EB no-repeat center;
      border-radius: 50%;
      margin-right: 24px;

      &--car {
      background-image: url("../../assets/icons/car.svg");
      }

      &--badge {
        background-image: url("../../assets/icons/badge.svg");
      }

      &--tyre {
        background-image: url("../../assets/icons/type-expert.svg");
      }

      &--shield {
        background-image: url("../../assets/icons/shield.svg");
      }

      &--hands {
        background-image: url("../../assets/icons/hands.svg");
      }

      &--lamp {
        background-image: url("../../assets/icons/lamp.svg");
      }
    }

    &__header {
      font-size: 1.5rem;
      color: #4DA9EB;
    }
  }
}

.sell-car {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 30px 0;
  background-size: cover;

  &--1 {
    background: linear-gradient(
        rgba(77,169,235, 0.45),
        rgba(77,169,235, 0.45)
    ), url("../../assets/img/bg-1.jpeg") center fixed;
  }

  &--2{
    background: linear-gradient(
        rgba(77,169,235, 0.45),
        rgba(77,169,235, 0.45)
    ), url("../../assets/img/bg-2.jpeg") center fixed;
  }

  &__btn {
    width: 268px;
    height: 75px;
    background-color: #21D084;
    color: #fff;
    font-family: Sansation, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.instruction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: url("../../assets/img/curve.svg") no-repeat center 50px, #eee;
  background-size: contain;

  &__header {
    @extend .advantages__header;
  }

  &__main {
    width: 1440px;
    padding: 80px 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-family: Sansation, sans-serif;
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 200px;
    margin: 0 25px;
    color: #70747F;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 2.1rem;
      font-weight: bold;
      width: 80px;
      height: 80px;
      flex-shrink: 0;
      border-radius: 50%;
      align-self: center;
      margin-bottom: 38px;

      &--1 {
        background-color: #21D084;
      }

      &--2 {
        background-color: #2dd099;
      }

      &--3 {
        background-color: #34d0b0;
      }

      &--4 {
        background-color: #4cd0c6;
      }

      &--5 {
        background-color: #4DA9EB;
      }
    }

    &-header {
      font-weight: bold;
      font-size: 1.5rem;
      color: #000;
    }
  }
}
