@font-face {
  font-family: 'Sansation';
  src: url("assets/fonts/sansation/Sansation_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url("assets/fonts/sansation/Sansation_Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  src: url("assets/fonts/gotham/GothamLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  src: url("assets/fonts/gotham/GothamMedium.ttf");
  font-weight: bold;
  font-style: normal;
}

// Chrome focus outline removal
div:focus {
  outline: none;
}


// Native slider styles overwriting
.noUi-horizontal {
  height: 3px;
  border: none;
}

.noUi-base {
  .noUi-connect {
    background-color: deepskyblue;
  }

  .noUi-handle {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: none;
    display: table;
    height: 15px;
    margin-top: -(15px/2) + 3px/2 - 1;
    padding: 0;
    position: absolute;
    top: 0;
    right: -10px !important;
    width: 15px;
    z-index: 2;

    &:before,
    &:after {
      display: none;
    }

    .noUi-horizontal & {
      cursor: ew-resize;
    }

    &:hover {
      background-color: lighten(#fff, 10%);
    }

    &.noUi-active {
      background-color: darken(#fff, 10%);
      z-index: 3;
    }
  }

  .noUi-tooltip {
    transform: translate(-50%, 150%);
    font-size: .8rem;
    background: transparent;
    color: #fff;
    border: none;
  }
}

// Native switch styles overwriting
.switch {
  ui-switch .switch-medium {
    width: 35px;
    height: 3px;

    small {
      width: 15px !important;
      height: 15px !important;
      top: -6px;
    }
  }
}
