/* You can add global styles to this file, and also import other style files */

//@import "~nouislider/distribute/nouislider.min.css";

@font-face {
  font-family: 'Sansation';
  src: url("assets/fonts/sansation/Sansation_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src: url("assets/fonts/sansation/Sansation_Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  src: url("assets/fonts/gotham/GothamLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  src: url("assets/fonts/gotham/GothamMedium.ttf");
  font-weight: bold;
  font-style: normal;
}
